$tdWidth: 100px;

.homePage {
  overflow: hidden;

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #397420;
    color: white;

    height: 60px;
    width: 100%;

    .myName {
      font-size: 16px;
      font-weight: 500;
    }

    .title {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .topSection {
    margin: 0px 7px;
    margin-top: 20px;

    .inputContainer {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: start;

      margin-bottom: 15px;

      .inputTitle {
        position: absolute;
        top: -14px;
        left: 5px;

        padding: 0px 5px;

        background-color: rgb(255, 255, 255);
      }

      input {
        background-color: white;
        border: 1px solid lightgray;

        padding: 6px 10px;
        border-radius: 5px;

        font-size: 16px;
      }
    }
  }

  .tableContainer {
    overflow-x: scroll;
    white-space: nowrap;

    table {
      border: 1px solid grey;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 10px;

      tr {
        background-color: rgb(247, 247, 247);
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        th {
          background-color: #397420;
          color: white;
          font-weight: 400;

          min-width: $tdWidth;

          padding: 4px 0px;
        }

        td {
          border: 1px solid grey;
          min-width: $tdWidth;
          padding: 2px 5px;
        }
      }
    }
  }

  .percentageTable {
    border: 1px solid grey;
    margin-bottom: 10px;

    tr {
      th {
        background-color: #397420;
        min-width: $tdWidth;
      }

      td {
        border: 1px solid grey;
        min-width: $tdWidth;
      }
    }

    tr:nth-child(odd) {
      background-color: rgb(247, 247, 247);
    }
    tr:nth-child(even) {
      background-color: rgb(220, 220, 220);
    }
  }

  .explain {
    margin: 10px;

    p {
      max-width: 400px;
    }
  }
}
